body
{
    background-color: #eaf9f5;
    margin: 0;
text-align: center;
}
h1
{
margin-left: 50%;    
margin: 0;
}
div
{
   margin-left: 30%;
    margin-top: 15%;
    height: 100%;
    width: 50%;
}